/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@keyframes laluot {
  from {
    -webkit-mask-position: 150% 0px;
    mask-position: 150% 0px;
  }
  100% {
    -webkit-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
}
#myModal .modal-body, .videochar .modal-body {
  position: relative;
  padding: 0px;
  overflow: inherit;
}
#myModal .modal-body .close, .videochar .modal-body .close {
  position: absolute;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  border: none;
  background: transparent;
}

.light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  filter: brightness(2);
  -webkit-mask-size: 300% 200%;
  mask-size: 300% 200%;
  -webkit-mask-image: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0) 40%, #fff 50%, rgba(255, 255, 255, 0) 60%);
          mask-image: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0) 40%, #fff 50%, rgba(255, 255, 255, 0) 60%);
  animation: laluot linear 2.5s infinite 1s;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

@keyframes lanchut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}
@keyframes showpop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes tranimage {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
:root {
  --color1: #ffcffe;
  --color2: #05060d;
  --color3: #808080;
  --colorok: #31da70;
  --colorerror: #ff6d6d;
  --whitecolor: #fff;
  --colorlink: #409ff5;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
  --ratio:1;
  --lanchuot:98px;
}

.error {
  color: var(--colorerror) !important;
}

.green {
  color: var(--colorok) !important;
}

.gold {
  color: var(--color1) !important;
}

.blue {
  color: var(--colorlink) !important;
}

.main {
  color: var(--color1) !important;
}

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

button {
  transition: all 0.7s ease-in-out !important;
}

a:hover {
  text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
  font-family: "Roboto Condensed", cursive, Roboto, sans-serif, "Roboto Condensed", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-pagination {
  left: 10px;
  z-index: 1;
  right: auto;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet {
  transition: all 0.8s ease-in-out;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #efe1ff;
}

.topmenu {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 19;
}
.topmenu ul {
  list-style: none;
  display: flex;
  grid-gap: 10px;
  padding: 0;
}
.topmenu ul li a {
  display: flex;
  width: calc(44px * var(--ratio));
  height: calc(44px * var(--ratio));
  border-radius: 50%;
  background-color: #c0c3ec;
  color: #1d234c;
  justify-content: center;
  align-items: center;
  font-size: calc(24px * var(--ratio));
  border: 1px solid rgba(131, 148, 167, 0.168627451);
}
.topmenu ul li a:hover {
  background-color: rgb(253, 255, 231);
}
.topmenu ul li .group {
  display: none;
}

/*===DOWNLOAD DETECH========*/
.download {
  background-color: #1e2331;
  border-bottom: 1px solid rgba(56, 66, 94, 0.8431372549);
  display: none;
}
.download .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download .container .left {
  display: flex;
  align-items: center;
}
.download .container .left .icongame {
  width: calc(100px * var(--ratio));
}
.download .container .left .title-game {
  color: var(--whitecolor);
}
.download .container .left .title-game h4 {
  font-size: calc(160% * var(--ratio));
}
.download .container .right a img {
  width: calc(172px * var(--ratio));
}

.stickytop {
  width: 179px;
  height: 528px;
  background: url(../images/bg-sticky.png) no-repeat top center;
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.stickytop ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 4rem 0 0 0;
  margin: 0;
  align-content: center;
  flex-direction: column;
  align-items: center;
  grid-gap: 5px;
}
.stickytop ul li a {
  display: block;
}
.stickytop ul li a img {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}
.stickytop ul li a:hover img {
  filter: invert(1);
}

/*-Sticky-*/
.floatbar {
  width: 168px;
  height: 743px;
  background: url(../images/Floatbar/Float-Bar-BG.png) no-repeat top center;
  position: fixed;
  left: 0;
  top: 15%;
  z-index: 15;
}
.floatbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  padding-left: 0;
  padding-top: 111%;
}
.floatbar ul li {
  padding: 0.2rem 0;
}
.floatbar ul li a {
  display: flex;
  align-items: center;
  align-content: center;
  color: #fff;
}
.floatbar ul li a:hover {
  filter: brightness(120%);
}
.floatbar ul li a.store {
  margin-bottom: 0px;
}
.floatbar ul li a.store img {
  max-width: 100%;
}
.floatbar ul li a.store:hover {
  filter: brightness(190%);
}
.floatbar ul li a.nhapcode {
  margin-top: 0px;
}
.floatbar .joinforum {
  position: relative;
  top: 1%;
  left: 6px;
}
.floatbar .joinforum:hover {
  filter: brightness(160%);
}
.floatbar .icongame {
  background: url(../images/Floatbar/Float-Bar-Icongame.png) no-repeat center top;
  background-size: cover;
  position: relative;
  left: 11%;
}
.floatbar .icongame:hover {
  filter: brightness(120%);
}

.modal-dksom .modal-content {
  background: url(../images/Floatbar/Float-Bar-Popup-BG.png) no-repeat top center;
  border: none;
  height: 471px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.modal-dksom .modal-content .modal-body {
  padding: 4rem 12rem;
}
.modal-dksom .modal-content .modal-body .close {
  position: absolute;
  top: -10px;
  right: 20px;
  width: 85px;
  height: 85px;
  background: url(../images/Floatbar/Float-Bar-Popup-Btn-Close.png) no-repeat top center;
  border: none;
}
.modal-dksom .modal-content .modal-body .content-dksom {
  text-align: center;
}
.modal-dksom .modal-content .modal-body .content-dksom h4 {
  font-size: 30px;
  color: #101a66;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-dksom .modal-content .modal-body .content-dksom h6 {
  color: #101a66;
  font-size: 22px;
}
.modal-dksom .modal-content .modal-body .content-dksom input {
  border: 2px solid #101a66;
  color: #101a66;
  background: transparent;
  width: 80%;
  margin: 0 auto;
  height: 61px;
  border-radius: 10px;
}
.modal-dksom .modal-content .modal-body .content-dksom p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #101a66;
}
.modal-dksom .modal-content .modal-body .content-dksom table {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #101a66;
}
.modal-dksom .modal-content .modal-body .content-dksom .btn {
  margin: 0 auto;
  background: #101a66;
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0.5rem;
  position: relative;
}
.modal-dksom .modal-content .modal-body .content-dksom .btn span.textsub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 2px #cc2717, 0px 0px 6px #81170d;
  text-transform: uppercase;
}
.modal-dksom .modal-content .modal-body .content-dksom .btn-dangky {
  background: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}
.modal-dksom .modal-content .modal-body .content-dksom .btn-dangky:hover {
  filter: brightness(120%);
}

#trailer .modal-dialog .modal-content {
  background: url(../images/frame-popup.png) no-repeat top center;
  border: none;
  background-size: contain;
}
#trailer .modal-dialog .modal-content .btn-close {
  position: absolute;
  width: 54px;
  height: 54px;
  z-index: 100;
  right: 12%;
  top: 2rem;
  opacity: 1;
}
#trailer .modal-dialog .modal-content .btn-close img {
  max-width: 100%;
}
#trailer .modal-dialog .modal-content .modal-body {
  padding: 20px 100px;
}
#trailer .modal-dialog .modal-content .modal-body img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
#trailer .modal-dialog .modal-content .modal-body .close {
  position: absolute;
  right: 92px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #ffd76c;
  opacity: 1;
  border: none;
  background: transparent;
}

/*=Header=*/
.header {
  position: relative;
  background: url(../images/page1/Page-1-stillBG.jpg) no-repeat top center;
  height: 100%;
  width: 100%;
  background-color: var(--color2);
}
.header .bgvideo #videoef {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.header .bgvideo .btnvideo {
  display: block;
  position: absolute;
  position: absolute;
  top: 31vw;
  right: 27vw;
  z-index: 1111;
}
.header .bgvideo .btnvideo img {
  max-width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  display: block;
  height: 12vw;
  width: 14vw;
  padding: 0 !important;
}
.header .bgvideo .btnvideo img.text-mb {
  display: none;
}
.header .header-center {
  z-index: 9;
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
}
.header .header-center .btn-trailer {
  position: absolute;
  width: 100px;
  height: 100px;
}
.header .header-center a.header-logo {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  position: absolute;
  left: 28%;
  transform: translateX(-50%);
  top: 2%;
}
.header .header-center a.header-logo img {
  max-width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: none !important;
}
.header .header-center p.lanchuot {
  max-width: var(--lanchuot);
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  animation: lanchut 1.5s infinite;
}
.header .header-center p.lanchuot img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.page2 {
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../images/page2/Page-2-BG.jpg) no-repeat top center;
  background-color: var(--color2);
}
.page2 ul {
  display: flex;
  grid-gap: 5px;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
}
.page2 .container {
  height: 100%;
}
.page2 img {
  z-index: 1;
  position: relative;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.page2 img:hover {
  filter: brightness(120%);
  transform: scale(1.1);
}
.page2 a {
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 71px;
  height: 208px;
}
.page2 a:hover {
  filter: brightness(160%);
  transform: scale(1.15);
  transition-duration: 0.5s;
}
.page2 .btn-ahy {
  background: url(../images/page2/Page-2-Btn-AnhHungYen.png) no-repeat top center;
  background-size: contain;
  top: 413px;
  left: 415px;
}
.page2 .btn-hs {
  background: url(../images/page2/Page-2-Btn-HoaSon.png) no-repeat top center;
  background-size: contain;
  top: 355px;
  left: -173px;
}
.page2 .btn-tkc {
  background: url(../images/page2/Page-2-Btn-TangKinhCac.png) no-repeat top center;
  background-size: contain;
  top: 258px;
  left: 52px;
}
.page2 .btn-tht {
  background: url(../images/page2/Page-2-Btn-TuHienTrang.png) no-repeat top center;
  background-size: contain;
  top: 508px;
  left: -79px;
}
.page2 .icon-ahy {
  top: 45.9%;
  left: 599px;
}
.page2 .icon-hs {
  top: 38.8%;
  left: -161px;
}
.page2 .icon-tkc {
  top: 29.2%;
  left: -106px;
}
.page2 .icon-tht {
  top: 54.2%;
  left: -430px;
}

.page3 {
  height: 942px;
  width: 100%;
  position: relative;
  top: -8%;
  background-color: transparent;
  background: url(../images/page3/Page-3-BG.png) no-repeat top center;
}
.page3 img:hover {
  filter: brightness(160%);
  transition-duration: 1s;
  transform: scale(1.05);
}
.page3 .menubar {
  display: flex;
  grid-gap: 12px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 607px;
  left: 288px;
}
.page3 .menubar .fanpage {
  margin: 11px auto;
}
.page3 .menubar .group {
  margin: 11px auto;
}
.page3 .downloadbar {
  display: flex;
  grid-gap: 5px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 475px;
  left: 289px;
}

.page4 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--whitecolor);
  background: url(../images/page4/bgp4.jpg) no-repeat top center;
}
.page4 .titlpage {
  position: absolute;
  top: 5%;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.page4 .titlpage img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.page4 .slidermb {
  display: none;
}
.page4 .slidermb .swiper-wrapper {
  height: auto;
  top: calc(300px * var(--ratio));
}
.page4 .slidermb .swiper-wrapper .swiper-slide {
  background: transparent;
}
.page4 .slidermb .swiper-wrapper .swiper-slide img {
  max-width: 79%;
  max-height: 70%;
}
.page4 .slidermb .swiper-button-next, .page4 .slidermb .swiper-button-prev {
  width: calc(85px * var(--ratio));
  height: calc(75px * var(--ratio));
  transform: translateY(-50%);
  top: 62%;
}
.page4 .slidermb .swiper-button-next img, .page4 .slidermb .swiper-button-prev img {
  max-width: 100%;
}
.page4 .slidermb .swiper-button-next::after, .page4 .slidermb .swiper-button-prev::after {
  content: none;
}
.page4 .showacc {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 208px;
  transition: none;
}
.page4 .showacc .accordion {
  display: flex;
  transition: none;
}
.page4 .showacc .accordion .card-header {
  transition: none;
  padding: 0;
}
.page4 .showacc .accordion .card-header .card-title {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  display: block;
  cursor: pointer;
}
.page4 .showacc .accordion .card-header .card-title::after {
  display: none;
}
.page4 .showacc .accordion .card-header .card-title img {
  display: block;
  max-width: 100%;
}
.page4 .showacc .accordion .card-header .card-title:hover {
  filter: brightness(120%);
}
.page4 .showacc .accordion .card-body {
  transition: none;
  padding: 0;
}
.page4 .showacc .accordion .card-body .accordion-body {
  padding: 0;
  transition: none;
}
.page4 .showacc .accordion .card-body .accordion-body img {
  max-width: 100%;
}

#footerreal {
  height: 300px !important;
  overflow: hidden;
  width: 100%;
  clear: both;
}
#footerreal .footer {
  background: url(../images/Footer-BG.jpg) no-repeat top center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
}
#footerreal .footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footerreal .footer .footer-content p {
  line-height: 1.1;
  font-weight: 500;
  color: var(--whitecolor);
  font-size: 13px;
  padding: 0 3rem;
}

.modal-popup a:hover {
  filter: brightness(120%);
}
.modal-popup .modal-content-ahy {
  background: url(../images/page2/Page-2-Popup-Frame-AHY.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 628px;
  border: none;
  margin-top: 7%;
}
.modal-popup .modal-content-ahy .modal-body {
  border: none;
  border-radius: 0;
  padding: 5rem 11rem;
}
.modal-popup .modal-content-ahy .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
}
.modal-popup .modal-content-ahy .modal-body .content-anhhungyen {
  position: relative;
  text-align: center;
  top: 84px;
  left: 3px;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 267px;
}
.modal-popup .modal-content-ahy .modal-body .content-anhhungyen p {
  text-align: left;
}
.modal-popup .modal-content-hs {
  background: url(../images/page2/Page-2-Popup-Frame-HSLK.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 628px;
  border: none;
  margin-top: 7%;
}
.modal-popup .modal-content-hs .modal-body {
  border: none;
  border-radius: 0;
  padding: 5rem 11rem;
}
.modal-popup .modal-content-hs .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
}
.modal-popup .modal-content-hs .modal-body .content-hoasonluankiem {
  position: relative;
  text-align: center;
  top: 84px;
  left: 3px;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 267px;
}
.modal-popup .modal-content-hs .modal-body .content-hoasonluankiem p {
  text-align: left;
}
.modal-popup .modal-content-tht {
  background: url(../images/page2/page-2-Popup-Frame-THT.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 628px;
  border: none;
  margin-top: 7%;
}
.modal-popup .modal-content-tht .modal-body {
  border: none;
  border-radius: 0;
  padding: 5rem 11rem;
}
.modal-popup .modal-content-tht .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
}
.modal-popup .modal-content-tht .modal-body .content-tuhientrang {
  position: relative;
  text-align: center;
  top: 84px;
  left: 3px;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 267px;
}
.modal-popup .modal-content-tht .modal-body .content-tuhientrang p {
  text-align: left;
}
.modal-popup .modal-content-tkc {
  background: url(../images/page2/Page-2-Popup-Frame-TKC.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 628px;
  border: none;
  margin-top: 7%;
}
.modal-popup .modal-content-tkc .modal-body {
  border: none;
  border-radius: 0;
  padding: 5rem 11rem;
}
.modal-popup .modal-content-tkc .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
}
.modal-popup .modal-content-tkc .modal-body .content-tangkinhcac {
  position: relative;
  text-align: center;
  top: 84px;
  left: 3px;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 267px;
}
.modal-popup .modal-content-tkc .modal-body .content-tangkinhcac p {
  text-align: left;
}
.modal-popup .btn-close {
  background: url(../images/page2/Page-2-Popup-CloseBtn.png) no-repeat center;
  background-size: contain;
  position: absolute;
  right: -11%;
  top: -8%;
  width: 10vw;
  height: 10vw;
}

/*=POPUP DANGKYSOM=*/
.modal-dk .modal-content {
  background: url(../images/page2/bg-pop1.png) no-repeat top center;
  border: none;
  height: 471px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.modal-dk .modal-content .modal-body {
  padding: 4rem 12rem;
}
.modal-dk .modal-content .modal-body .close {
  position: absolute;
  top: -10px;
  right: 20px;
  width: 85px;
  height: 85px;
  background: url(../images/page2/btn-close.png) no-repeat top center;
  border: none;
}
.modal-dk .modal-content .modal-body .content-dksom {
  text-align: center;
}
.modal-dk .modal-content .modal-body .content-dksom h4 {
  font-size: 30px;
  color: #101a66;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-dk .modal-content .modal-body .content-dksom h6 {
  color: #101a66;
  font-size: 22px;
}
.modal-dk .modal-content .modal-body .content-dksom input {
  border: 2px solid #101a66;
  color: #101a66;
  background: transparent;
  width: 80%;
  margin: 0 auto;
  height: 61px;
  border-radius: 10px;
}
.modal-dk .modal-content .modal-body .content-dksom p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #101a66;
}
.modal-dk .modal-content .modal-body .content-dksom table {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #101a66;
}
.modal-dk .modal-content .modal-body .content-dksom .btn {
  margin: 0 auto;
  background: #101a66;
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0.5rem;
  position: relative;
}
.modal-dk .modal-content .modal-body .content-dksom .btn span.textsub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 2px #cc2717, 0px 0px 6px #81170d;
  text-transform: uppercase;
}
.modal-dk .modal-content .modal-body .content-dksom .btn-dangky {
  background: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}
.modal-dk .modal-content .modal-body .content-dksom .btn-dangky:hover {
  filter: brightness(120%);
}

.modal-thele .modal-content {
  background: url(../images/page2/bg-pop2.png) no-repeat top center;
  width: 1162px;
  height: 539px;
}
.modal-thele .modal-content .modal-body {
  padding: 3rem 9rem;
}
.modal-thele .modal-content .modal-body .content-dksom {
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 450px;
}
.modal-thele .modal-content .modal-body .content-dksom h4 {
  text-align: center;
}

.style1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

.style1::-webkit-scrollbar {
  width: 6px;
  background-color: #101a66;
}

.style1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5365eb;
}

.style2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.style2::-webkit-scrollbar {
  width: 6px;
  background-color: #663e10;
}

.style2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e78f29;
}

@media (max-width: 1800px) {
  .header .bgvideo .btnvideo {
    top: 34vw;
    right: 26vw;
  }
}
@media (max-width: 1700px) {
  .header .bgvideo .btnvideo {
    top: 37vw;
    right: 24vw;
  }
}
@media (max-width: 1600px) {
  .header .bgvideo .btnvideo {
    top: 40vw;
    right: 23vw;
  }
}
@media (max-width: 1400px) {
  .page3 .tab-content .bgvideo, .page3 .tab-content .bgduoicung, .page3 .tab-content .bgtop {
    top: 170px;
  }
  .page3 .tab-content .bgtop {
    height: 76%;
  }
  .page3 .tab-content .bgtop .bgon {
    height: 100%;
  }
  .page3 .tab-content .bgtop img {
    max-height: 100%;
  }
  :root {
    --ratio:1;
  }
  .header {
    background-image: none;
  }
  .header .bgvideo #videoef {
    max-width: 100%;
  }
  .page .titlpage {
    max-width: 40%;
  }
  .page2 .bgvideo #videoef {
    max-width: 100%;
  }
  .page4 {
    background: url(../images/page4/bgp4mb.jpg) no-repeat top center;
  }
  .page4 .showacc {
    display: block;
  }
  .page4 .slidermb {
    display: none;
  }
  .page4 .slidermb .swiper-pagination {
    bottom: calc(20% * var(--ratio));
  }
  .page4 .slidermb .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #61254a;
  }
  .page1, .page2, .page3, .page4 {
    background-size: cover;
  }
  .page4 .slidermb .swiper-wrapper {
    top: 19%;
  }
  .page2 .bottomp2 {
    transform: translateX(-50%) scale(0.8);
    width: auto;
    bottom: 0;
  }
}
@media (max-width: 1280px) {
  .page3 .tab-content .bgvideo, .page3 .tab-content .bgduoicung, .page3 .tab-content .bgtop {
    top: 170px;
  }
  .page3 .tab-content .bgtop {
    height: 76%;
  }
  .page3 .tab-content .bgtop .bgon {
    height: 100%;
  }
  .page3 .tab-content .bgtop img {
    max-height: 100%;
  }
  :root {
    --ratio:1;
  }
  .header {
    background-image: none;
  }
  .header .bgvideo #videoef {
    max-width: 100%;
  }
  .page .titlpage {
    max-width: 40%;
  }
  .page2 .bgvideo #videoef {
    max-width: 100%;
  }
  .stickytop {
    display: none;
  }
  .page4 {
    background: url(../images/page4/bgp4mb.jpg) no-repeat top center;
  }
  .page1, .page2, .page3, .page4 {
    background-size: cover;
  }
  .page4 .slidermb .swiper-wrapper {
    top: 19%;
  }
  .page4 .showacc {
    top: 120px;
  }
}
@media (max-width: 1024px) {
  .page2 .bottomp2 {
    transform: translateX(-50%) scale(1);
    width: 100%;
    bottom: 3%;
  }
  .page1, .page2, .page3, .page4 {
    background-size: cover;
  }
  .page .titlpage {
    max-width: 100%;
  }
  :root {
    --ratio:1;
    --lanchuot:0px;
  }
  .lanchuot {
    display: none;
  }
  .topmenu ul {
    flex-direction: column;
  }
  .topmenu ul li .group {
    display: flex;
  }
  .page4 .accordion {
    display: none;
  }
  .page4 .slidermb {
    display: block;
  }
  .page4 .slidermb .swiper-pagination {
    bottom: calc(20% * var(--ratio));
  }
  .page4 .slidermb .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #61254a;
  }
  .header .header-center .page2 .titlpage, .page3 .titlpage, .page4 .titlpage, .topmenu {
    top: calc(145px * var(--ratio));
  }
  a.header-logo {
    top: calc(50px * var(--ratio));
  }
  .page3 .tab-content .btn-videoex {
    display: block;
  }
  .download {
    display: block;
  }
  #videoef {
    display: none !important;
  }
  .header {
    background-size: 200% auto;
    background-image: url(../images/page1/Page-1-stillBG.jpg);
  }
  .header .bgvideo .btnvideo img {
    opacity: 1;
  }
  .header .bgvideo .btnvideo {
    top: 62vw;
    right: 24vw;
  }
  .header .bgvideo .btnvideo .text-web {
    display: none !important;
  }
  .header .bgvideo .btnvideo img.text-mb {
    display: block;
    position: relative;
    width: 80%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .modal-dk .modal-content .modal-body {
    padding: 0;
  }
  .modal-thele .modal-content .modal-body {
    padding: 2rem;
  }
  .modal-thele .modal-content .modal-body .content-dksom {
    height: 470px;
  }
  .header .header-center a.header-logo img {
    display: block !important;
  }
  .page2 .titlpage img, .page3 .titlpage img {
    opacity: 1;
  }
  .page3 .navclick {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    bottom: 0;
    margin-bottom: 0 !important;
  }
  .page2 .bottomp2 a.dadk {
    background-size: contain;
    line-height: 56px;
  }
  .page3 .tab-content .bgvideo, .page3 .tab-content .bgduoicung, .page3 .tab-content .bgtop {
    bottom: 0;
    top: auto;
    position: absolute;
  }
  .page3 .tab-content .bgtop {
    height: 64%;
    z-index: 5;
  }
  .page4 .slidermb .swiper-wrapper {
    top: calc(300px * var(--ratio));
  }
  .page2 .bottomp2 .showdk .hover-mix {
    display: none;
  }
}
@media (max-width: 768px) {
  .page4 .slidermb .swiper-wrapper .swiper-slide img {
    max-width: 50%;
  }
}
@media (max-width: 540px) {
  :root {
    --ratio:0.8;
  }
  .page4 .slidermb .swiper-pagination {
    display: none;
  }
  .header .header-center a.header-logo img {
    max-width: 60%;
  }
  .header, .page2 {
    background-size: 250% auto;
  }
  .page3 .tab-content .bgtop {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .page3 .tab-content .bgtop .bgon, .page3 .tab-content .bgtop .bgon2 {
    top: auto;
    bottom: 0;
    height: 58%;
    bottom: 10%;
  }
  .page3 .tab-content .bgtop .bgon img, .page3 .tab-content .bgtop .bgon2 img {
    height: 100%;
  }
  .page3 .navclick {
    bottom: 0;
    margin-bottom: 0 !important;
  }
  .page3 .navclick .nav-item {
    width: 70px;
  }
  .page4 .slidermb .swiper-wrapper .swiper-slide img {
    max-width: 49%;
  }
}
@media (max-width: 414px) {
  .page4 .slidermb .swiper-wrapper .swiper-slide img {
    max-width: 70%;
  }
  :root {
    --ratio:0.6;
  }
  .header .header-center a.header-logo img {
    max-width: 50%;
  }
  .page3 .tab-content .bgduoicung {
    display: none;
  }
  .page3 .tab-content .bgtop .bgon2 {
    left: 40%;
  }
  .header, .page2 {
    background-size: 280% auto;
  }
  .page3, .page4 {
    background-size: 500% auto;
  }
  .page3 .navclick .nav-item {
    width: 53px;
  }
  .page2 .bottomp2 a.dadk {
    max-width: 320px;
  }
  .page4 .slidermb .swiper-pagination {
    display: block;
  }
}
@media (max-width: 375px) {
  .header, .page2 {
    background-size: 280% auto;
    background-position-y: 20%;
  }
  .header .header-center .btnvideo {
    bottom: 20%;
  }
}
@media (max-width: 320px) {
  .header .header-center .btnvideo {
    bottom: 10%;
  }
  .page4 .slidermb .swiper-wrapper .swiper-slide img {
    max-width: 63%;
  }
}/*# sourceMappingURL=mainkh40.css.map */